.portfolio-wrapper {
  @media only screen and (min-width: 992px) {
    margin: 0 -10vw;
  }
}

.border {
  border: 1px solid var(--mat-sys-on-surface);
  margin: 0.5rem;
}

.window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.25rem 0.25rem 0.25rem;

  @media only screen and (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  @media only screen and (max-width: 991px) {
    button {
      align-self: end;
    }
  }
}

img {
  width: 100%;
}

.portfolio-list {
  display: flex;
  flex-flow: row wrap;

  app-portfolio-list-item {
    display: flex;
    flex: 1 1 100%;
    margin: 0.25rem;

    .mat-mdc-card-content {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;
    }

    @media only screen and (min-width: 992px) {
      flex: 0 0 calc(50% - 0.5rem);
    }
  }
}
