<h1>Mentions l&eacute;gales</h1>
<h2>Propriétaire du site</h2>
<p>
  <b>Tom Gonzalez</b>
  <br />
  149 rue Edmond Rostand
  <br />
  31200 Toulouse
  <br />
  0637216353
  <br />
</p>

<h2>Hébergeur</h2>
<p>SAS au capital de 50 000 000 €</p>
<p>
  RCS Lille Métropole 424 761 419 00045
  <br />
  Code APE 2620Z
  <br />
  N° TVA : FR 22 424 761 419
  <br />
  Siège social : 2 rue Kellermann - 59100 Roubaix - France
</p>
<p>
  OVH SAS est une filiale de la société OVH Groupe SA, société immatriculée au
  RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.
</p>
<p>Directeur de la publication&nbsp;:&nbsp;Benjamin Revcolevschi</p>
<p>Ce site est hébergé par OVH SAS 2 rue Kellermann - 59100 Roubaix - France</p>

L'ensemble de ce site relève des législations françaises et internationales sur
le droit d'auteur et la propriété intellectuelle. Tous les droits de
reproduction sont réservés, y compris pour les documents iconographiques et
photographiques.
<br />
<br />
