<!-- @TODO hide menu on mobile and show it on desktop + add sidenav and toggle button -->
<div class="menu-container">
  <div class="title-wrapper">
    <div class="title--logo">
      <img
        src="./img/logo_folder_smile.svg"
        alt="Logo Tom Gonzalez"
        width="40"
        height="36"
      />
    </div>
    <div class="title--text">
      <h3>Tom Gonzalez</h3>
      <h2>Développeur Toulouse</h2>
    </div>
  </div>
  <div class="menu-wrapper">
    <nav>
      <div class="sidenav-toggle">
        <button mat-mini-fab (click)="toggleSidenav()">
          <mat-icon
            aria-hidden="false"
            aria-label="menu icon"
            fontIcon="menu"
          ></mat-icon>
        </button>
      </div>
      <ul class="menu-list">
        @for (item of menuItems; track item.label) {
          <li>
            <a
              mat-button
              routerLink="{{ item.link }}"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >{{ item.label }}</a
            >
          </li>
        } @empty {
          <li>There are no items.</li>
        }
      </ul>
    </nav>
  </div>
</div>
