.menu-container {
  background-color: color-mix(
    in hsl,
    var(--mat-sys-primary-container),
    transparent 20%
  );
  color: var(--mat-sys-on-primary-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  color: var(--mat-sys-on-primary-fixed);

  .title--logo {
    margin-right: 1rem;
  }
  .title--text {
    display: flex;
    flex-direction: column;

    & > * {
      display: flex;
      font-weight: 500;
      line-height: 1.2rem;
      margin: 0 0 0.5rem 0;
    }
  }

  h3 {
    display: none;

    @media only screen and (min-width: 768px) {
      display: inline-block;
    }
  }
}

.menu-wrapper {
  .sidenav-toggle {
    display: none;
    justify-content: center;

    button {
      background-color: var(--mat-sys-on-primary-container);
      border: none;
      color: var(--mat-sys-on-primary-fixed);
      cursor: pointer;
    }

    .mat-icon {
      // font-size: 2rem;
    }

    /* Small devices (landscape phones, under 768px) */
    @media only screen and (max-width: 768px) {
      display: flex;
    }
  }
  .menu-list {
    display: none;
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
      display: flex;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;

    .mat-mdc-button.active {
      background-color: color-mix(
        in srgb,
        var(--mat-sys-primary) 10%,
        transparent
      );
    }
  }
}
