<mat-card class="portfolio-card window">
  <mat-card-header>
    <mat-card-title>{{ item ? item.title : '' }} </mat-card-title>
    @if (item && item.subtitle) {
      <mat-card-subtitle>{{ item.subtitle }} </mat-card-subtitle>
    }
  </mat-card-header>

  <!-- @if (item && item.image) {
    <img
      mat-card-image
      src="./img/portfolio/{{ item.image }}"
      alt="Portfolio {{ item.title }} image"
    />
  } -->
  <mat-card-content>
    <p>
      {{ item ? item.descriptionShort : '' }}
    </p>
  </mat-card-content>

  <mat-card-actions align="end">
    <a mat-button routerLink="/portfolio/items/{{ item?.id }}">Voir</a>
  </mat-card-actions>
</mat-card>
