<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <ul class="menu-list">
      @for (item of menuItems; track item.label) {
        <li>
          <a
            mat-button
            routerLink="{{ item.link }}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ item.label }}</a
          >
        </li>
      } @empty {
        <li>There are no items.</li>
      }
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <app-menu [sidenav]="sidenav"></app-menu>
      <router-outlet />
    </main>
    <footer>Footer &#64;</footer>
  </mat-sidenav-content>
</mat-sidenav-container>
