mat-sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height */
}

mat-sidenav-container,
app-menu {
  box-shadow: var(--mat-sys-level1);
  z-index: 2;
}

mat-sidenav {
  background-color: var(--mat-sys-primary-container);
  border: 1px solid rgba(125, 125, 125, 0.3);
  color: var(--mat-sys-on-primary-container);
}

mat-sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height */
}

.sidenav-toggle {
  float: right;
}

.sidenav-title {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  .h3 {
    border-bottom: 2px solid var(--mat-sys-on-primary-container);
    padding-bottom: 8px;
    text-align: center;
    width: 80%;
  }
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  content {
    margin: auto;
    max-width: var(--page-width);
    padding: var(--layout-padding);
    z-index: 2;

    & > div {
      background-color: color-mix(
        in hsl,
        var(--mat-sys-surface-container-low),
        transparent 5%
      );
      border: 4px solid
        color-mix(in hsl, var(--mat-sys-primary-container), transparent 5%);
      border-radius: var(--border-radius);
      padding: 1rem;

      & > p:first-child {
        margin-top: 0;
      }
    }
  }
}

.apropos-bg {
  overflow: hidden;
  height: 250px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;

  li {
    display: flex;
    justify-content: center;

    a {
      width: 80%;
    }
  }
}

footer {
  background-color: color-mix(
    in hsl,
    var(--mat-sys-secondary-container),
    transparent 5%
  );
  color: var(--mat-sys-on-secondary-container);
  flex-shrink: 0;
  text-align: center;
  padding: 10px;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.future-grid-wrapper {
  display: block;
  box-sizing: content-box;
  position: absolute;
  top: 86px;
  left: 0;
  overflow: hidden;
  max-height: 800px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.future-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
  mask-image: linear-gradient(to top, transparent 0%, black 30%);
  perspective: 100px;
  width: 100%;

  &:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  & > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    &:first-child {
      transform: rotateY(10deg);
      -webkit-mask-image: linear-gradient(
        to left,
        transparent 0%,
        black 60%,
        black 100%
      );
      mask-image: linear-gradient(
        to left,
        transparent 0%,
        black 60%,
        black 100%
      );
    }

    &:last-child {
      transform: rotateY(-10deg);
      -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 60%,
        black 100%
      );
      mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 60%,
        black 100%
      );
    }
  }

  .future-grid-item {
    border: 1px solid var(--mat-sys-primary);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease;
    height: 200px;
    box-shadow:
      0 0 1px var(--mat-sys-primary),
      0 0 4px var(--mat-sys-primary);

    &:hover {
      opacity: 1;
      scale: 1.02;
      background-color: color-mix(
        in hsl,
        var(--mat-sys-primary),
        transparent 20%
      );
      box-shadow:
        0 0 10px var(--mat-sys-primary),
        0 0 40px var(--mat-sys-primary);
    }
  }
}
