<mat-sidenav-container class="example-container">
  <mat-sidenav class="z-shadow-1" #sidenav mode="over" [(opened)]="opened">
    <div class="sidenav-toggle">
      <button mat-mini-fab (click)="sidenav.toggle()">
        <mat-icon
          aria-hidden="false"
          aria-label="close icon"
          fontIcon="close"
        ></mat-icon>
      </button>
    </div>
    <div class="sidenav-title">
      <div class="h3">Menu</div>
    </div>
    <ul class="menu-list">
      @for (item of menuItems; track item.label) {
        <li>
          <a
            mat-button
            routerLink="{{ item.link }}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >{{ item.label }}</a
          >
        </li>
      } @empty {
        <li>There are no items.</li>
      }
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <app-menu [sidenav]="sidenav"></app-menu>
      <div class="future-grid-wrapper">
        <div class="future-grid">
          <div class="future-grid-left">
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
          </div>
          <div class="future-grid-right">
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
            <div class="future-grid-item"></div>
          </div>
        </div>
      </div>
      <!-- <div class="apropos-bg">
          <img src="./img/connexion_bg.jpg" alt="connexion" />
        </div> -->
      <content>
        @if (isBGNeeded) {
          <div>
            <router-outlet />
          </div>
        } @else {
          <router-outlet />
        }
      </content>
    </main>
    <footer><a routerLink="/mentions-legales">Mentions Legales</a></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
