mat-card {
  display: flex;
  flex-direction: column;
  background-color: none;

  mat-card-header {
    display: flex;
    flex: 1 0 auto;
  }
  img {
    display: flex;
    flex: 1 1 auto;
  }
  mat-card-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}
