<div class="apropos-wrapper">
  <p>
    <b>Développeur passionné d'informatique</b>, j'ai commencé le développement
    pendant mon <b>DUT SRC</b> (Services et Réseaux de Communication) qui m'a
    permis de faire de la vidéo (caméra/réalisation), du design (photographie /
    imprimerie / photoshop / illustrator / Indesign) ainsi que du développement.
  </p>
  <p>
    Développeur multi-casquette, je suis spécialisé dans le front-end, que ce
    soit l'amélioration d'une <b>UX/UI</b> existante jusqu'à la mise en place
    d'un design system à l'aide de figma.
  </p>
  <p>
    L'<b>HTML</b> et le <b>SCSS</b> ont peu de secrets pour moi, je suis
    familier avec la plupart des moteurs de template PHP ainsi que Angular et
    sans avoir développé avec d'autres frameworks JS/TS je suis capable de
    m'adapter rapidement.
  </p>
  <p>
    Je suis familier avec la plupart des frameworks CSS (Material design /
    Bootstrap / Tailwind-Daisy-UI) j'ai mes préférences mais je m'adapte au
    fonctionnement de l'équipe.
  </p>
  <p>
    Avec mes plus de 9 années d'expérience je suis aussi capable de gérer la
    plupart des échanges back-end sans pour autant avoir les compétences d'un
    développeur back-end spécialisé.
  </p>
  <p>
    J'ai ainsi mis en place une authentification SAML2 ainsi que la génération
    de PDF puis envois des documents par Email et Fax en PHP, ou bien plusieurs
    API RESTful ainsi que systèmes de routing que ce soit en PHP ou sur Angular
    avec NestJS.
  </p>
  <p>
    A travers toutes mes expériences, j'ai appris à collaborer efficacement avec
    tout type de personnes et d'organisations, j'ai travaillé avec différents
    OS, (windows / linux / mac), différents types de gestion de projet. Je pense
    donc être une bonne ressource à avoir dans son équipe et j'espère que mon CV
    et cette succincte présentation vous intéressera, j'espère avoir de vos
    nouvelles,
  </p>
  <p class="letter-ending">Bien cordialement,</p>
  <p class="letter-ending">Gonzalez Tom</p>
  <img src="./img/Signature_white.png" alt="signature" />
</div>
