.apropos-wrapper {
  position: relative;

  .letter-ending {
    text-align: right;
    padding-right: 80px;
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    height: 70px;
  }
}
