<div>
  <h1 class="title">A propos</h1>
</div>
<div class="links">
  <a href="https://github.com/Ateyo/" target="_blank" title="Github">
    <i class="nf nf-dev-github"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/tom-gonzalez/"
    target="_blank"
    title="LinkedIn">
    <i class="nf nf-dev-linkedin"></i>
  </a>
  <a
    href="https://www.instagram.com/ateyoblueman/"
    target="_blank"
    title="Instagram">
    <i class="nf nf-fa-instagram"></i>
  </a>
  <a href="mailto:gonzalez.fleurence.tom@gmail.com" title="Mail">
    <i class="nf nf-fa-envelope"></i>
  </a>
</div>
<div class="apropos-wrapper">
  <p>
    <b>Développeur passionné d'informatique</b>
    , j'ai commencé le développement pendant mon
    <a
      href="https://www.iut-tarbes.fr/b-u-t-mmi/"
      target="_blank"
      title="DUT SRC">
      <b>DUT SRC</b>
    </a>
    (Services et Réseaux de Communication) qui m'a permis de faire de la vidéo
    (caméra/réalisation), du design (photographie / imprimerie / photoshop /
    illustrator / Indesign) ainsi que du développement. J'ai ensuite continué
    mes études lors du
    <a
      href="https://www.francecompetences.fr/recherche/rncp/26095/"
      target="_blank"
      title="Licence Pro RTAI">
      Licence Pro RTAI
    </a>
    afin de parfaire mes compétences en développement web et mobile avant mon
    entrée dans le monde du travail.
  </p>
  <p>
    Développeur multi-casquette, je suis spécialisé dans le front-end, que ce
    soit l'amélioration d'une
    <b>UX/UI</b>
    existante jusqu'à la mise en place d'un design system à l'aide de
    <a href="https://www.figma.com/" target="_blank" title="Figma">
      <b>Figma</b>
    </a>
  </p>
  <p>
    L'
    <a
      href="https://developer.mozilla.org/fr/docs/Web/HTML"
      target="_blank"
      title="HTML">
      <b>HTML</b>
    </a>
    et le
    <a href="https://sass-lang.com/" target="_blank" title="SCSS">
      <b>SCSS</b>
    </a>
    ont peu de secrets pour moi, je suis familier avec la plupart des moteurs de
    template
    <a href="https://www.php.net/" target="_blank" title="PHP">PHP</a>
    ainsi que
    <a href="https://angular.io/" target="_blank" title="Angular">Angular</a>
    et sans avoir développé avec d'autres frameworks
    <a
      href="https://www.typescriptlang.org/"
      target="_blank"
      title="TypeScript">
      TypeScript
    </a>
    je suis capable de m'adapter rapidement.
  </p>
  <p>
    Je suis familier avec la plupart des frameworks CSS (
    <a href="https://m3.material.io/" target="_blank" title="Material Design">
      Material design
    </a>
    /
    <a href="https://getbootstrap.com/" target="_blank" title="Bootstrap">
      Bootstrap
    </a>
    /
    <a href="https://daisyui.com/" target="_blank" title="DaisyUI">DaisyUI</a>
    ) j'ai mes préférences mais je m'adapte au fonctionnement de l'équipe.
  </p>
  <p>
    Avec mes plus de 9 années d'expérience je suis aussi capable de gérer la
    plupart des échanges back-end sans pour autant avoir les compétences d'un
    développeur back-end spécialisé.
  </p>
  <p>
    J'ai ainsi mis en place une authentification
    <a href="https://simplesamlphp.org/" target="_blank" title="SimpleSAML">
      SAML2
    </a>
    ainsi que la
    <a href="https://www.fpdf.org/" target="_blank" title="FPDF">
      génération de PDF
    </a>
    puis envois des documents par Email et Fax en PHP, ou bien plusieurs API
    RESTful ainsi que systèmes de routing que ce soit en PHP ou sur Angular avec
    <a
      href="https://nestjs.com/"
      target="_blank"
      title="NestJS, beware of cats">
      NestJS
    </a>
    .
  </p>
  <p>
    A travers toutes mes expériences, j'ai appris à collaborer efficacement avec
    tout type de personnes et d'organisations, j'ai travaillé avec différents
    OS, (windows / linux / mac), différents types de gestion de projet. Je suis
    donc une bonne ressource à avoir dans son équipe et j'espère que mon CV et
    cette succincte présentation vous intéressera, j'espère avoir de vos
    nouvelles,
  </p>
  <p class="letter-ending">Bien cordialement,</p>
  <p class="letter-ending">Gonzalez Tom</p>
  <img src="./img/Signature_white.webp" alt="signature" />
</div>
