.menu-container {
  background-color: color-mix(
    in hsl,
    var(--mat-sys-primary-container),
    transparent 20%
  );
  color: var(--mat-sys-on-primary-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  color: var(--mat-sys-on-primary-container);
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;

  &:hover {
    color: color-mix(in hsl, var(--mat-sys-on-primary-container), #ffffff 60%);

    svg #icon path,
    svg #smile path {
      stroke: color-mix(
        in hsl,
        var(--mat-sys-on-primary-container),
        #ffffff 60%
      );
    }
  }

  .title--logo {
    margin-right: 1rem;

    svg path {
      transition: all 0.3s ease-in-out;
      stroke: var(--mat-sys-on-primary-container);
    }
  }

  .title--text {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    & > * {
      display: flex;
      font-weight: 500;
      line-height: 1.6rem;
      margin: 0 0 0.5rem 0;
    }

    .subtitle {
      display: none;

      @media only screen and (min-width: 768px) {
        display: inline-block;
      }
    }

    @media only screen and (max-width: 768px) {
      h2 {
        font-size: 1.35rem;
        line-height: 1.35rem;
      }
      h3 {
        font-size: 1.25rem;
        line-height: 1.25rem;
      }
    }
  }

  h3 {
    display: none;

    @media only screen and (min-width: 992px) {
      display: inline-block;
    }
  }
}

.menu-wrapper {
  .sidenav-toggle {
    display: none;
    justify-content: center;

    button {
      background-color: var(--mat-sys-on-primary-container);
      border: none;
      color: var(--mat-sys-on-primary-fixed);
      cursor: pointer;
    }

    /* Small devices (landscape phones, under 992px) */
    @media only screen and (max-width: 991px) {
      display: flex;
    }
  }
  .menu-list {
    display: none;
    /* Medium devices (landscape tablets, 992px and up) */
    @media only screen and (min-width: 992px) {
      display: flex;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;

    .mat-mdc-button.active {
      background-color: color-mix(
        in srgb,
        var(--mat-sys-primary) 10%,
        transparent
      );
    }
  }
}
