<div class="form-wrapper">
  <div class="form-text">
    <h1>Ajouter un projet</h1>
    <small>
      (Ce formulaire est une copie de celui que j'utilise pour ajouter un
      projet, il sert d'exemple pour vous, vous pouvez ajouter de nouveaux
      projets sur votre session,mais rien ne sera sauvegardé)
    </small>
  </div>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Titre du Projet</mat-label>
      <input matInput type="text" formControlName="title" name="title" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Sous-titre du projet</mat-label>
      <input matInput type="text" formControlName="subtitle" name="subtitle" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Déscription courte du projet</mat-label>
      <input
        matInput
        type="text"
        formControlName="descriptionShort"
        name="descriptionShort" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Description détaillée du projet</mat-label>
      <textarea
        matInput
        formControlName="description"
        name="description"></textarea>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Image du projet</mat-label>
      <input matInput type="text" formControlName="image" name="image" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Compétences (séparées par des virgules)</mat-label>
      <input matInput type="text" formControlName="skills" name="skills" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Lien</mat-label>
      <input matInput type="text" formControlName="link" name="link" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Iframe</mat-label>
      <input matInput type="text" formControlName="iframe" name="iframe" />
    </mat-form-field>
    <br />

    <div class="form-actions">
      <button mat-button type="submit" [disabled]="projectForm.invalid">
        Ajouter Projet
      </button>
    </div>
  </form>
</div>
