/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/cyan-orange.css';

:root {
  --page-width: 80ch;
  --layout-padding: 1.5rem;
  --mat-sys-background: rgb(0 0 0 / 19%);

  @media only screen and (min-width: 768px) {
    --layout-padding: 3.12rem;
  }
}

html {
  color-scheme: dark;
  background: url(../public/img/triangle-mosaic.webp);
  background: url(../public/img/asfalt-light.png); //--mat-sys-background: rgb(0 0 0 / 19%)
  // background: url(../public/img/silver-scales.png); //--mat-sys-background: rgb(0 0 0 / 50%)

  @include mat.theme(
    (
      color: mat.$cyan-palette,
      typography: Roboto,
      density: 0
    )
  );
}

html,
body {
  color: var(--mat-sys-background);
  height: 100vh;
}
body {
  margin: 0;
  background-color: var(--mat-sys-background);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h1,
.h1 h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.h6,
.h6 {
  letter-spacing: -1.5px;
  font-family: 'Inter Tight', sans-serif;
}

h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.75rem;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 1.25rem;
}
h5,
.h5 {
  font-size: 1.1rem;
}
h6,
.h6 {
  font-size: 1rem;
}

.pills {
  display: flex;
  flex-wrap: wrap;

  .pill {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--mat-sys-on-tertiary-container);
    color: var(--mat-sys-tertiary-container);
  }
}

.z-shadow-1 {
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-shadow-2 {
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-shadow-3 {
  box-shadow:
    0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.z-shadow-4 {
  box-shadow:
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.z-shadow-5 {
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
